:root {
  --PrimeryColor: hsl(199, 100%, 33%);
  --SecenderyColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --WhiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inpotColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(255, 255, 235);
}

.busLayout {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
  direction: ltr;
}
.busLayout .title {
  position: relative;
  color: var(--textColor);
  margin: 1rem 0;
  z-index: 2;
  font-size: xx-large;
}
.busLayout .busSeat {
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin: auto;
}
.busLayout .busSeat .seatsContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.busLayout .busSeat .seatsContainer .icon {
  grid-column: 1;
  grid-row: 5;
  transform: rotate(-90deg);
}
.busLayout .busSeat .seatsContainer .seat-1 {
  grid-column: 2;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-2 {
  grid-column: 2;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-3 {
  grid-column: 2;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-4 {
  grid-column: 2;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-5 {
  grid-column: 3;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-6 {
  grid-column: 3;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-7 {
  grid-column: 3;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-8 {
  grid-column: 3;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-9 {
  grid-column: 4;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-10 {
  grid-column: 4;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-11 {
  grid-column: 4;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-12 {
  grid-column: 4;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-13 {
  grid-column: 5;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-14 {
  grid-column: 5;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-15 {
  grid-column: 5;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-16 {
  grid-column: 5;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-17 {
  grid-column: 6;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-18 {
  grid-column: 6;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-19 {
  grid-column: 6;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-20 {
  grid-column: 6;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-21 {
  grid-column: 7;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-22 {
  grid-column: 7;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-23 {
  grid-column: 7;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-24 {
  grid-column: 7;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-25 {
  grid-column: 8;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-26 {
  grid-column: 8;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-27 {
  grid-column: 9;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-28 {
  grid-column: 9;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-29 {
  grid-column: 9;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-30 {
  grid-column: 9;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-31 {
  grid-column: 10;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-32 {
  grid-column: 10;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-33 {
  grid-column: 10;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-34 {
  grid-column: 10;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-35 {
  grid-column: 11;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-36 {
  grid-column: 11;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-37 {
  grid-column: 11;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-38 {
  grid-column: 11;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seat-39 {
  grid-column: 12;
  grid-row: 5;
}
.busLayout .busSeat .seatsContainer .seat-40 {
  grid-column: 12;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainer .seat-41 {
  grid-column: 12;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainer .seat-42 {
  grid-column: 12;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainer .seat-43 {
  grid-column: 12;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainer .seatWrapper {
  display: flex;
  justify-content: center;
}
.busLayout .busSeat .seatsContainerVip {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 50px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.busLayout .busSeat .seatsContainerVip .icon {
  grid-column: 1;
  grid-row: 4;
  transform: rotate(-90deg);
}
.busLayout .busSeat .seatsContainerVip .seat-1 {
  grid-column: 2;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-2 {
  grid-column: 2;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-3 {
  grid-column: 2;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-4 {
  grid-column: 3;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-5 {
  grid-column: 3;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-6 {
  grid-column: 3;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-7 {
  grid-column: 4;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-8 {
  grid-column: 4;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-9 {
  grid-column: 4;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-10 {
  grid-column: 5;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-11 {
  grid-column: 5;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-12 {
  grid-column: 5;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-13 {
  grid-column: 6;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-14 {
  grid-column: 6;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-15 {
  grid-column: 6;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-16 {
  grid-column: 7;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-17 {
  grid-column: 7;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-18 {
  grid-column: 7;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-19 {
  grid-column: 8;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-20 {
  grid-column: 8;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-21 {
  grid-column: 8;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-21 {
  grid-column: 9;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-22 {
  grid-column: 9;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-23 {
  grid-column: 9;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-24 {
  grid-column: 10;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-25 {
  grid-column: 10;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-26 {
  grid-column: 10;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-27 {
  grid-column: 11;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-28 {
  grid-column: 11;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-29 {
  grid-column: 11;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seat-30 {
  grid-column: 12;
  grid-row: 4;
}
.busLayout .busSeat .seatsContainerVip .seat-31 {
  grid-column: 12;
  grid-row: 3;
}
.busLayout .busSeat .seatsContainerVip .seat-32 {
  grid-column: 12;
  grid-row: 2;
}
.busLayout .busSeat .seatsContainerVip .seat-33 {
  grid-column: 12;
  grid-row: 1;
}
.busLayout .busSeat .seatsContainerVip .seatWrapper {
  display: flex;
  justify-content: center;
}

.seatInfo {
  margin-top: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.buttonContainer .btn {
  border: none;
  color: #fff;
  margin: 0 0.5rem;
}/*# sourceMappingURL=BusLayout.css.map */